<article>
  <div class="gridster">
    <ul>
      <!-- Row 1 -->
      <li class="profile" data-row="1" data-col="1" data-sizex="3" data-sizey="1">
        <img id="avatar" width="85" height="85" src="../assets/avatar.png"></img>
          <aside>
            <span id="name"><%= @user.name %></span>
            <span id="city"><%= @user.location %></span>
            <span id="age"><%= @user.age %> years old</span>
            <span id="gender"><%= @user.gender.titleize %></span>
            <img id="height" width="51" height="90" src="../assets/height.png"></img>
            <div id="measurement"><%= @user.height %></div>
          </aside>
      </li>
      <li class="sleep" data-row="1" data-col="5" data-sizex="2" data-sizey="2">
        <div id="quality" class="css-animation <%= if (@quality_sleep == 100) then 'three' end %>"><%= @quality_sleep %></div>
        <canvas id="sleep-canvas" height="225" width="225" data-light="<%= @light_sleep %>" data-deep="<%= @deep_sleep %>"></canvas>
        <p id="deep">Deep Sleep: <span><%= Time.at(@deep_sleep).gmtime.strftime("%l:%M") %></span></p>
        <p id="light">Light Sleep: <span><%= Time.at(@light_sleep).gmtime.strftime("%l:%M") %></span></p>
      </li>
      <!-- End of Row 1 -->

      <!-- Row 2 -->
      <li class="steps" data-row="2" data-col="1" data-sizex="4" data-sizey="2">
        <span id="updated"><%= @steps_updated %> EST</span>
        <div id="quantity" class="css-animation"><%= if @today_steps.nil? then '0' else number_with_delimiter(@today_steps) end %></div>
        <canvas id="steps-canvas" height="225" width="569"></canvas>
      </li>
      <li class="mood" data-row="1" data-col="6" data-sizex="1" data-sizey="1">
        <p id="title"><%= @mood_title %></p>
        <canvas id="mood-canvas" height="105" width="105"></canvas>
      </li>
      <li data-row="2" data-col="5" data-sizex="2" data-sizey="1"></li>
      <!-- End of Row 2 -->

      <!-- Row 3 -->
      <li class="calories" data-row="3" data-col="1" data-sizex="4" data-sizey="2">
        <span id="updated"><%= @calories_updated %> EST</span>
        <div id="quantity" class="css-animation"><%= if @today_calories.nil? then '0' else number_with_delimiter(@today_calories) end %></div>
        <canvas id="calories-canvas" height="225" width="569"></canvas>
      </li>
      <li class="weight" data-row="3" data-col="5" data-sizex="2" data-sizey="2">
        <span id="updated"><%= @weight_updated_day %></br><%= @weight_updated_time %> EST</span>
        <div id="quantity" class="css-animation"><%= @today_weight %></div>
        <div id="marker" class="css-animation">
          <i id="cross" data-icon="&#10060;" data-aria="hidden"></i>
        </div>
        <canvas id="weight-canvas" height="220" width="267"></canvas>
      </li>
      <!-- End of Row 3 -->
    </ul>
  </div>
</article>

<script>
  $(function() {

    $(".gridster ul").gridster({
        widget_margins: [10, 10],
        widget_base_dimensions: [137, 137]
    });

    var doughnutData = [
      {
        value: $('canvas').data('light'),
        color:"#949FB1"
      },
      {
        value : $('canvas').data('deep'),
        color : "#46BFBD"
      }
    ];
    var myDoughnut = new Chart(document.getElementById("sleep-canvas").getContext("2d")).Doughnut(doughnutData, { percentageInnerCutout : 80 });

    var barChartData1 = {
      labels : [""],
      datasets : [
        {
          fillColor : "<%= if @mood_title == 'No Data' then '#f7464a' else 'rgba(224,228,204,0.5)' end %>",
          strokeColor : "rgba(224,228,204,1)",
          data : ["<%= @mood_scale %>"]
        }
      ]
    };
    var myLine1 = new Chart(document.getElementById("mood-canvas").getContext("2d")).Bar(barChartData1, { animationSteps : 250, barShowStroke : true, scaleLineColor : "rgba(0,0,0,0)", scaleGridLineColor : "rgba(0,0,0,0)", scaleShowLabels : false, scaleShowGridLines : false, scaleOverride : true, scaleSteps : 8, scaleStepWidth : 1, scaleStartValue : 0 });

    var lineChartData1 = {
      labels : ["  ","","","","","","  "],
      datasets : [
        {
          fillColor : "rgba(151,187,205,0)",
          strokeColor : "#fdb45c",
          pointColor : "#fff",
          pointStrokeColor : "#fdb45c",
          data : [<%= @minus_6_steps %>, <%= @minus_5_steps %>, <%= @minus_4_steps %>, <%= @minus_3_steps %>, <%= @minus_2_steps %>, <%= @minus_1_steps %>, <%= @today_steps || 0 %>]
        }
      ]
    };
    var myLine2 = new Chart(document.getElementById("steps-canvas").getContext("2d")).Line(lineChartData1, { scaleShowLabels : false, scaleShowGridLines : false, scaleLineColor : "rgba(0,0,0,0)", scaleFontFamily : "'proxima_novasemibold'", scaleFontSize : 16, scaleFontColor : "#444" });

    var lineChartData2 = {
      labels : ["  ","","","","","","  "],
      datasets : [
        {
          fillColor : "rgba(151,187,205,0)",
          strokeColor : "#f7464a",
          pointColor : "#fff",
          pointStrokeColor : "#f7464a",
          data : [<%= @minus_6_calories %>, <%= @minus_5_calories %>, <%= @minus_4_calories %>, <%= @minus_3_calories %>, <%= @minus_2_calories %>, <%= @minus_1_calories %>, <%= @today_calories || 0 %>]
        }
      ]
    };
    var myLine3 = new Chart(document.getElementById("calories-canvas").getContext("2d")).Line(lineChartData2, { scaleShowLabels : false, scaleShowGridLines : false, scaleLineColor : "rgba(0,0,0,0)", scaleFontFamily : "'proxima_novasemibold'", scaleFontSize : 16, scaleFontColor : "#444" });

    var barChartData2 = {
      labels : ["","","","","","",""],
      datasets : [
        {
          fillColor : "rgba(125,79,109,0.5)",
          strokeColor : "rgba(125,79,109,1)",
          data : [<%= @minus_6_weight %>, <%= @minus_5_weight %>, <%= @minus_4_weight %>, <%= @minus_3_weight %>, <%= @minus_2_weight %>, <%= @minus_1_weight %>, <%= @today_weight %>]
        }
      ]
    }
    var myLine4 = new Chart(document.getElementById("weight-canvas").getContext("2d")).Bar(barChartData2, { scaleLineColor : "rgba(0,0,0,0)", scaleGridLineColor : "rgba(0,0,0,0)", scaleShowLabels : false, scaleShowGridLines : false, scaleOverride : true, scaleSteps : 15, scaleStepWidth : 1, scaleStartValue : 165 });
  });
</script>
