<article>
  <div class="gridster">
    <ul>
      <!-- Row 1 -->
      <li class="profile" data-row="1" data-col="1" data-sizex="3" data-sizey="1">
        <img id="avatar" width="85" height="85" src="../assets/avatar.png"></img>
          <aside>
            <span id="name"><%= @user.name %></span>
            <span id="city"><%= @user.location %></span>
            <span id="age"><%= @user.age %> years old</span>
            <span id="gender"><%= @user.gender.titleize %></span>
            <img id="height" width="51" height="90" src="../assets/height.png"></img>
            <div id="measurement"><%= @user.height %></div>
          </aside>
      </li>
      <li class="sleep" data-row="1" data-col="5" data-sizex="2" data-sizey="2">
        <div id="quality" class="css-animation <%= if (@quality_sleep == 100) then 'three' end %>"><%= @quality_sleep %></div>
        <canvas id="sleep-canvas" height="225" width="225" data-light="<%= @light_sleep %>" data-deep="<%= @deep_sleep %>"></canvas>
        <p id="deep">Deep Sleep: <span><%= Time.at(@deep_sleep).gmtime.strftime("%l:%M") %></span></p>
        <p id="light">Light Sleep: <span><%= Time.at(@light_sleep).gmtime.strftime("%l:%M") %></span></p>
      </li>
      <!-- End of Row 1 -->

      <!-- Row 2 -->
      <li class="steps" data-row="2" data-col="1" data-sizex="4" data-sizey="2">
        <span id="updated"><%= @steps_updated %> EST</span>
        <div id="quantity" class="css-animation"><%= number_with_delimiter(@today_steps) %></div>
        <canvas id="steps-canvas" height="225" width="569"></canvas>
      </li>
      <li class="mood" data-row="1" data-col="6" data-sizex="1" data-sizey="1">
        <p id="title"><%= @mood_title %></p>
        <canvas id="mood-canvas" height="105" width="105"></canvas>
      </li>
      <!-- End of Row 2 -->

      <!-- Row 3 -->
      <li data-row="3" data-col="1" data-sizex="2" data-sizey="3"></li>
      <li data-row="3" data-col="3" data-sizex="2" data-sizey="2"></li>
      <li data-row="3" data-col="5" data-sizex="2" data-sizey="2"></li>
      <!-- End of Row 3 -->
    </ul>
  </div>
</article>

<script>
  $(function() {

    $(".gridster ul").gridster({
        widget_margins: [10, 10],
        widget_base_dimensions: [137, 137]
    });

    var doughnutData = [
      {
        value: $('canvas').data('light'),
        color:"#949FB1"
      },
      {
        value : $('canvas').data('deep'),
        color : "#46BFBD"
      }
    ];
    var myDoughnut = new Chart(document.getElementById("sleep-canvas").getContext("2d")).Doughnut(doughnutData, { percentageInnerCutout : 80 });

    var barChartData = {
      labels : [""],
      datasets : [
        {
          fillColor : "<%= if @mood_title == 'No Data' then '#f7464a' else 'rgba(151,187,205,0.5)' end %>",
          strokeColor : "rgba(151,187,205,1)",
          data : ["<%= @mood_scale %>"]
        }
      ]
    };
    var myLine = new Chart(document.getElementById("mood-canvas").getContext("2d")).Bar(barChartData, { animationSteps : 250, barShowStroke : true, scaleLineColor : "rgba(0,0,0,0)", scaleGridLineColor : "rgba(0,0,0,0)", scaleShowLabels : false, scaleShowGridLines : false, scaleOverride : true, scaleSteps : 8, scaleStepWidth : 1, scaleStartValue : 0 });

    var lineChartData = {
      labels : ["  ","","","","","","  "],
      datasets : [
        {
          fillColor : "rgba(151,187,205,0)",
          strokeColor : "#fdb45c",
          pointColor : "#fff",
          pointStrokeColor : "#fdb45c",
          data : [<%= @minus_6_steps %>, <%= @minus_5_steps %>, <%= @minus_4_steps %>, <%= @minus_3_steps %>, <%= @minus_2_steps %>, <%= @minus_1_steps %>, <%= @today_steps %>]
        }
      ]
    };
    var myLine = new Chart(document.getElementById("steps-canvas").getContext("2d")).Line(lineChartData, { scaleShowLabels : false, scaleShowGridLines : false, scaleLineColor : "rgba(0,0,0,0)", scaleFontFamily : "'proxima_novasemibold'", scaleFontSize : 16, scaleFontColor : "#444" });
  });
</script>
